

/*
=============== 
Variables
===============
*/

:root {
  --white:white;
    --grey-40--hover: rgba(129, 129, 139, .4);
    --grey-101: #e9dfce;
    --grey-25--border: rgba(129, 129, 139, .25);
    --grey-100: #81818b;
    --accent: #0071e3;
    --header-color2 : #795548;
    --header-color: #008073;
    --black: #0d0d11;
    --grey-5: rgba(129, 129, 139, .05);
    --grey-10-101: rgba(129, 129, 139, .1);
    --grey-90--text-gray: rgba(129, 129, 139, .9);
    --light-background: #f5efe5;
    --switch-button-gray: rgba(129, 129, 139, .6);
    --text-awwwards: rgba(231, 231, 231, .84);
    --background: rgba(0,0,0,0.3);
    --black-trans: rgba(13, 13, 17, .86);
    --link: #708bf6;
    --transition: all 0.3s linear;
}
  /* --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 2s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/* */

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--background);
  color: var(--clr-grey-1);
  line-height: 1.5;
  
}
body.dark-mode {
  background-color: black;
  color: white;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
 
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

}
/*  global classes */
sidebar
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
 
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Sidebar
===============
*/
.display{
   display: flex;
   justify-content: space-between;
   background-color: var(--white);
   position: fixed;
   padding: 1rem 2rem;
   top: 0rem;
  left: 0;
  right: 0;
  box-shadow: 5px 10px 5px rgba(124, 111, 111, 0.1);
}
.display nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
  color: var(--header-color);
  margin: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  margin-left: 2rem;
}
.logo span{
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 16px;
  color:var( --header-color2 ) ;
  

}
/* .links-show{
    display: flex;
    position: relative;
    justify-content: space-between;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
  /* animation: bounce 4s ease-in-out infinite; */
/* } */ 

/* .links-show a{
    padding: 20px;
} */
.sidebar-toggle {
  top: 1rem;
  right: 3rem;
  font-size: 2rem;
  background-color: transparent;
  border-color: transparent;
  color:var(--black) ;
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 4s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: var( --grey-100);
}
.fa-circle-half-stroke:hover{
  transform: rotate(100deg);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 2rem;
  border-color: transparent;
  color: var(--background);
  transition: all 0.3s linear;
  cursor: pointer;

}
.close-btn:hover{
  color: var( --accent);
  transform: rotate(360deg);
}

.links{
display: flex;
flex-direction: column;
align-items: center;
}
.links li{
  margin: 3rem;
}
.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  position: relative;
  color: black;
  animation: mymove 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  
  
}
@keyframes mymove {
  from {left: 500px;}
  to {left: 10%;}
}
.links a:hover {
  background: black;
  color: var(--clr-white);
  padding-left: 1.75rem;
}
.social-icons {
  justify-self: center;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.social-icons li:hover{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 1rem;
  transition: var(--transition);
  
}
.social-icons a:hover {
  color: black;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:var( --light-background);
  animation-name: slideInFromTop;
  animation-duration: 0.5s;
  /* animation-fill-mode: forwards; */
  transform: translate(-100%);
}
/* @keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
} */
.show-sidebar {
  transform: translate(0);
}
.main{
  max-height: 100%;
	max-width: 100%;
	width:150px;
	height:1500px;
	background-size: cover;
	background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/413326062_696348112319837_4997739390682442012_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=510075&_nc_ohc=fp4jaAD5L1YAX_EPQJV&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTm5QQG9tYoI2ebZAFO9FEhrHOpnUomYhxkJSSZsqflTw&oe=65C8BA08');
	float: left;
  
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 100%;
  }
  h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 280px) {
  h3 {
    font-size: 1.5rem;
  }
}